$PRIMARY_COLOR: rgb(67,151,180);
$PRIMARY_COLOR_LIGHT:  rgba(67,151,180,.6);
$SECONDARY_COLOR: rgb(56,88,205);
$TEXT_COLOR: rgb(60,64,78);
$ACCENT_COLOR: rgb(231,100,63);
$PRESSED_ACCENT_COLOR: rgba(231, 100, 63, 0.9);
$HIGHLIGHT_COLOR: rgb(189,144,118);
$WHITE: rgb(255,255,255);
$PRESSED_WHITE: rgba(255, 255, 255, 0.9);

.tile {
  transition: height 300ms ease-in;
}

.tile--expanded {
  height: 200px;
  overflow: hidden;
}

.tile--condensed {
  height: 0px;
  overflow-y: hidden;
}

.button {
  transition: transform 300ms, top 300ms ease-in;
  font-size: 35px;
  border-radius: 20px;
  color: $WHITE;
  position: relative;
  left: 70px;
  top: -85px;
  background-color: $ACCENT_COLOR;
  cursor: pointer;
}

.button--pressed {
  box-shadow: 0 2px 15px 2px rgba(0,0,0, 0.7);
  background-color: $PRESSED_ACCENT_COLOR;
  color: $PRESSED_WHITE;
}

.button--unpressed {
  box-shadow: 0 2px 20px 2px rgba(0,0,0, 0.5);
}

.button--expanded {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

.button--condensed {
}
